/* FONTS */
@font-face {
  font-family: "Halton";
  src: url(assets/fonts/Halton/Halton\ regular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Halton";
  src: url(assets/fonts/Halton/Halton\ regular-italic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Halton";
  src: url(assets/fonts/Halton/Halton\ bold.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Halton";
  src: url(assets/fonts/Halton/Halton\ bold-italic.otf) format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Halton";
  src: url(assets/fonts/Halton/Halton\ light.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Halton";
  src: url(assets/fonts/Halton/Halton\ light-italic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    /* COLOUR */
    --clr-primary: #AD97C9;
    --clr-background: #272932;
    --clr-text: #ecf8f8;
    --clr-secondary: #519879;
    --clr-accent: #fb8b24;  
    
    /* RADIUS */
    --btn-radius: 1000px;
    --sec-radius:.25em;

      /*TYPOGRAPHY*/
    --thin: 400; /* Halton-italic */
    --chubby: 600 ; /* Halton-regular */
    --fat: 800; /* Halton-bold */

      /* BUTTON */
  --btn-hover: brightness(120%);
  --btn-active: brightness(80%);

  /* FORMS */
  --forms-focus: 3px solid var(--clr-primary);
}

html {
  font-family: 'Halton', sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: 2fr 8fr;


  background-color: var(--clr-background);
  color: var(--clr-text);
  /* overflow: hidden; */
}

header {
  grid-area: 'header';

  /* position: fixed; */
  height: 100vh;
  padding: 3em 2em;
  border-right: 1px solid var(--clr-text);
}

main {
  grid-area: 'main';
  width: 100%;
  padding: 3em 2em;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

footer {
  grid-area: 'footer';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  padding: 2.5em;
  text-align: center;
}

footer ul{
  list-style: none;

  margin-bottom: .5em;
}

footer ul li {
  display: inline-block;
  margin:  0 .5em;
}


footer li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-text);
}

footer li a:hover {
  color: var(--clr-primary);
  text-decoration: underline;
}

h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  font-family: 'Halton', sans-serif;
  text-decoration: none;
  color: var(--clr-text);
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
}

header nav {
  & h1{
    color: var(--clr-primary);
  }
}

header ul {
  list-style: none;
  width: 100%;
  margin-top: 3em;
}

header li {

  background-color: var(--clr-primary);
  border-radius: var(--sec-radius);
  margin-bottom: 1em;
  display: flex;
  overflow: hidden;

  &:hover {
    filter: var(--btn-hover);
  }

  &:active {
    filter: var(--btn-active);
  }
}

header li:last-child {
  margin: 3em 0 0 0;
}

header li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 .75em;
  align-self: center;
  color: var(--clr-background);

}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile_foto {
  overflow: hidden;
  border-radius: 10000000px;
  background-image: url('assets/images/profile_pic.jpg');
  background-size: contain;
  background-color: #519879;
  width: 10em;
  height: 10em;
  align-self: center;
  position: relative;
}


.icon {
  background-color: var(--clr-background);
  padding: 1em;
  height: 100%;
  border: 3px solid var(--clr-primary);
  border-radius: var(--sec-radius);
}


/* BUTTON */  
  .button {
    margin: 1em 0.5em;
    padding: 0.75em 2em;
    font-size: 0.65em;
    text-transform: uppercase;
    border-radius: var(--btn-radius);
    border-style: none;
    color: var(--clr-background);
    background-color: var(--clr-primary);
    cursor: pointer;
    grid-area: b;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: var(--btn-hover);
    }

    &:active{
      filter: var(--btn-active);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 50%;
    }

    &:disabled:hover {
      filter: none;
    }

      
    &.destructive {
      background-color: var(--clr-accent);  }

    &.recommended {
      background-color: var(--clr-secondary);  }

    &.minor {
      background-color: transparent;
      color: var(--clr-secondary);

      &:hover {
        text-decoration: underline;
      }
    }

    &.buttons p:first-child {
      margin: 0;
      padding: 0;
    }

  }

  /* PROGRESS BAR */
  .progress-bar {
    background-color: var(--clr-accent);
    width: 100%;
    height: 1em;
    border-radius: 1000px;
    overflow: hidden;
    margin: 1em 0;

  }

  .progress-bar span {
    display: block;
    background-color: var(--clr-secondary);
    height: 100%;
  }

  .hand-foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    & section {
      /* background-color: var(--clr-secondary); */
      height: 30em;
      border-radius: var(--sec-radius);
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 1em;
      width: 100%;
    }
  }

  .hand-foot article {
    background-color: var(--clr-accent);
    border-radius: var(--sec-radius);
  }

  .hand-foot .leaderboard {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 1em;

    &article {
      background-color: var(--clr-primary);

      width: 100%;
      height: 100%;



    }
  }








  /* BREAKDOWN */

  .breakdown_blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
  }

  .breakdown_blocks article{
    height: 100px;
    background-color: #519879;
    border-radius: var(--sec-radius);
  }
